/* CSS DOCUMENT*/
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<link rel="stylesheet" type="text/css" href="style.css">
</head>
h1{
    color: #C62C51;
    font-size: 3em;
    font-family: sans-serif;
}
h2{
    color: #C62C51;
    font-size: 2em;
    font-family: sans-serif;
}
h3{
    color: #CC6633;
    font-family: sans-serif;
}
h4{
    color: #0D2B4C;
}
p{
    color: #C62C51;
}
