/*CSS document*/

 h2{
     color: #731011;
     font-family: Verdana;
}
 h3{
     color: #731011;
     font-family: Verdana;
}
 a:link {
     color: black;
     text-decoration: none 
}
 a:visited {
     color:black;
     text-decoration: none;
}
 a:hover {
     color: #731011;
     text-decoration: none;
}
 li{
     display: inline;
     padding-right:.5em;
}
 div.container {
     max-width: 40em;
     margin: auto;
}
 figure {
     margin: 0;
}
 img {
     width: 100%;
}
 ul {
     list-style-type: none;
     padding: 0;
}
